<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/" method="POST">
      <p>Enter first name: <input
        type="text"
        name="first_name"
        placeholder="John "
        required
      /></p>
      <p>Enter last name: <input
        type="text"
        name="last_name"
        placeholder="Doe"
        required
      /></p>
      <p>Enter username: <input
        type="text"
        name="username"
        placeholder="abc"
        required
      /></p>
      <p>Enter password: <input
        type="password"
        name="password"
        placeholder="pass1234"
        required
      /></p>
      <button type="submit">Sign Up</button>

      {% if request.args.get('message') %}
      <p style="color: red">{{ request.args.get('message') }}</p>
      {% endif %}
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
  </body>
</html>
