<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="POST" action="/login">
      {{ form.hidden_tag() }}
      <p>{{ form.username.label }} {{ form.username() }}</p>
      <p>{{ form.password.label }} {{ form.password() }}</p>
      <p>{{ form.submit() }}</p>

      {% for message in get_flashed_messages(with_categories=true) %}
      <p style="color: red">{{ message[1] }}</p>
      {% endfor %}
    </form>
  </body>
</html>
